body {
background-color: rgb(21, 21, 226);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header {
    background-color: rgb(255, 165, 0);
    font-size: xx-large;
    color: rgb(0, 0, 0);
    text-align: center;
}

nav {
    background-color: rgb(255, 165, 0);
    color: rgb(0, 0, 0);
    font-size: 32px;
    text-align: center;
    width: 1360px;
}



.col-right {
    background-color: rgb(14, 235, 14);
    height: 1000px;
    width: 6800px;
    font-size: 20px;
}

.col-left {
    background-color: aliceblue;
    height: 1000px;
    width: 6800px;
    font-size: 20px;
}

footer {
    background-color: rgb(255, 165, 0);
    color: rgb(0, 0, 0);
    font-size: 32px;
    text-align: center;
}
